:root {
    --lower-content: #C5C5C5;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    padding-bottom: 3.5rem;
}


/*------LAYAOUT------*/

.header {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.page-content {
    margin: 0 1rem;
}

.important {
    font-weight: 700;
}

.lower-content {
    color: var(--lower-content);
}

/*----Post----*/

.post {
    margin-left: -1rem;
    margin-right: -1rem;
}

.post__picture {
    width: 100%;
}

.post-user {
    display: flex;
    align-items: center;
}

.post-user__picture {
    margin-right: 0.5rem;
}

.post-user__name {
    margin-right: 0.5rem;
}

.post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.post-description {
    margin-top: 0.5rem;
}


/*----Comment----*/

.comment__input-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    padding: 1rem 0;
}

.comment__input {
    border: none;
    width: 100%;
    margin-left: 0.75rem;
}

.comment {
   margin-top: 0.5rem;
   margin-bottom: 0;
}


/*----Footer----*/

.nav {
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0;
    background-color: #ffffff;
    box-shadow: 0px -1px 4px rgba(175, 175, 175, 0.25);
} 

.nav__heart {
    position: relative;
}

.nav__heart::after {
    content: '';
    position: absolute;
    right: -4px;
    top: -3px;
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 9999px;
    background-color: red;
}


/*------MEDIA-QUERIES-------*/

@media (min-width: 1024px) {

    .desktop-container {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .page-content {
        display: flex;
    }

    .desktop-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .post {
        margin: 0;
    }

    .post__picture {
        width: 502px;
    }
}    