:root {
    --lower-content: #C5C5C5;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    padding-bottom: 3.5rem;
}


/*------LAYAOUT------*/

.header {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.page-content {
    margin: 0 1rem;
}

.important {
    font-weight: 700;
}

.lower-content {
    color: var(--lower-content);
}

/*----Post----*/

.post {
    margin-left: -1rem;
    margin-right: -1rem;
}

.post__picture {
    width: 100%;
}

.post-user {
    display: flex;
    align-items: center;
}

.post-user__picture {
    margin-right: 0.5rem;
}

.post-user__name {
    margin-right: 0.5rem;
}

.post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.post-description {
    margin-top: 0.5rem;
}


/*----Footer----*/

.nav {
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0;
    background-color: #ffffff;
    box-shadow: 0px -1px 4px rgba(175, 175, 175, 0.25);
} 